body {
    background-color: #C34A36;
    height: 100vh;
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 600px;
    height: auto;
}

/* font setup */
@font-face {
    font-family: 'Avenir';
    src: url('AvenirNextLTPro-It.otf');
}

.birthday-text {
    font-size: 3em;
    text-align: center;
    font-family: 'Avenir'
}

.birthday-text span {
    display: inline-block;
    animation: colorchange 1s infinite;
}

.hint-text {
    font-size: 1.5em;
    text-align: center;
    color: #E6CCBE;
    font-family: 'Avenir'
}

/* rainbow letters */
@keyframes colorchange {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}