* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffc47e;
    height: 100vh;
    display: grid;
    place-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.giftbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.giftbox {
    width: 300px;
    height: 300px;
    margin: 0 50px;
    background: #922d50;
    position: relative;
}

.giftbox::before, .giftbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 289px;
    background: white;
}

.giftbox::before {
    transform: translate(-50%, -50%);
}

.giftbox::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.giftbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.giftbox {
    width: 18em;
    height: 18em;
    margin: 0 50px; 
    background: red;
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    background: white;
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

#tooltip1 {
    top: 100px;
    left: 50px;
}

#tooltip3 {
    top: 100px;
    right: 50px;
}

